*{
    margin: 0;
    padding: 0;
}
.container{
    background: url("../Images/bg.webp") no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board{
    background: linear-gradient(rgb(236, 255, 236), yellow);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: red;
    border: .25vmin solid black;
    border-radius:5;
}
.snake{
    background: red;
    border: .25vmin solid black;
    border-radius:5;
}

.food{
    background: rgb(0, 4, 255);
    border-radius: 35px;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.scoreBoard h1{
    margin-left: 2rem;
}